build/
dist/
.Xil/
fpga/modules/operator/work/
fpga/sim_lib/
fpga/work/
transcript
fpga/.Xil/
fpga/.srcs/
fpga/.gen/
vivado.jou
vivado.log
fpga/clockInfo.txt
fpga/tight_setup_hold_pins.txt
vitis_project/
BOOT.bin
logs/
software/opl3dro/filesystem.mfs
fpga/NA/ps7_summary.html
.repo.yaml
.peers.ini
.lock
.vscode/
.midi/
midi/
.project
fpga/vsim.wlf
fpga/modules/operator/vsim.wlf
fpga/modules/misc/vsim.wlf
.sv_cache/
__pycache__/
*.pyc
*.stackdump
tools/midi2vgm/build/
tools/*.7z
dfx_runtime.txt
fpga/dfx_runtime.txt
